<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <!--<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
    </head>
    <body>
        @* Start Header *@
        <header class="d-flex justify-content-center align-items-center mt-5">
            <nav class="">
                <a class="btn btn-primary" href="/Home/Index">Home</a>
                <a class="btn btn-primary" href="/Home/AboutUs">About Us</a>
                <a class="btn btn-primary" href="/Home/Privacy">Privacy</a>
                <a class="btn btn-primary" href="/Home/ContentUs">Content Us</a>
            </nav>
        </header>
        @* Start Header *@ @* Start Body *@

        <section class="d-flex justify-content-center align-items-center mt-5">
            <div class="p-5 bg-primary rounded-2 text-white">
                <h1 class="bg-danger text-center">Welcome Home Page</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequatur, quia? Neque ullam ipsum temporibus accusantium,
                    cumque magni quisquam maiores provident ipsam laborum rerum
                    cum explicabo ad vitae in, molestiae saepe!
                </p>
            </div>
        </section>

        @* End Body *@

        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
